<!-- components/header.html --><!-- components/header.html -->
<header class="header" id="home">
    <div class="logo">
      <img src="images/LogoTruong.jpg" alt="Logo trường">
    </div>
    <h1>Trường Tiểu Học Phạm Hồng Thái</h1>
    <nav>
      <ul class="main-menu">
        <li><a href="#home" title="Trang chủ">Trang chủ</a></li>
        <li><a href="#intro" title="Giới thiệu">Giới thiệu</a></li>
        <li class="has-submenu">
          <a href="#news" title="Tin tức">Tin tức <i class="fas fa-caret-down"></i></a>
          <ul class="submenu">
            <li><a href="#news-event">Sự kiện</a></li>
            <li><a href="#news-competition">Cuộc thi</a></li>
            <li><a href="#news-activity">Hoạt động</a></li>
          </ul>
        </li>
        <li><a href="#contact" title="Liên hệ">Liên hệ</a></li>
      </ul>
    </nav>
  </header>
